<div class="mainfont">
<h2>Welcome to the WallStreetBets App!</h2>
<p>Don't have account with us? Sign up for <u>free!</u></p>
</div>

<div class="mainfont">
<h2>Login</h2>
</div>
    <div class="mainfont">
    Username: <input type="text" [(ngModel)]="username" /><br />
    <button (click)="login()">Login</button>
    </div>
<br />

<div class="mainfont">
<h2>Sign Up</h2>
</div>
    <div class="mainfont">
    Username: <input type="text" [(ngModel)]="_User.username">
    <br />
    First Name: <input type="text" [(ngModel)]="_User.first_name">
    <br />
    <button (click)="addToList()">Sign Up</button>
    </div>
<br />

<br>
<img src="https://i.pinimg.com/originals/29/24/89/292489e7d0bf8ce7d5ffd81be62d0800.png">
