<ng-container *ngFor="let joinresult of _JoinResults">
    <br>
    <br>
    <button (click)="setDeleteFavoriteInfo(joinresult.username, joinresult.ticker)" (click)="deleteFavorite()">Remove Favorite</button><br>

    Username: {{joinresult.username}}<br>
    Ticker: {{joinresult.ticker}}<br>
    Note: {{joinresult.description}}<br>
    <!-- Favorite ID: {{joinresult.favorite_id}}<br> -->
    <!-- Note ID: {{joinresult.note_id}}<br> -->

    <button (click)="setTempTicker(joinresult.ticker)" (click)="toggleNoteBoxOn(joinresult.note_id)" (click)="toggleNoteExists(joinresult.description)">Note Options</button><br>

    <ng-container *ngIf="noteBoxVisible && _note_ID == joinresult.note_id && specific_Ticker == joinresult.ticker">
        <ng-container *ngIf="noteExists == true">
        
        <!--EDIT NOTE-->
        Edit Note:
        <input type="text" [(ngModel)]="_EditNote.updatedNoteDescription">
        <button (click)="setEditNoteID(joinresult.note_id)" (click)="editStockNote()">Save Changes</button><br>

        <!--DELETE NOTE-->
        <button (click)="setNoteID(joinresult.note_id)" (click)="deleteStockNote()">Delete Existing Note</button><br>
        </ng-container>    

        <!--ADD NOTE-->
        <ng-container *ngIf="noteExists == false">
            Add Note:
            <input type="text" [(ngModel)]="_AddNote.noteDescription">
            <button (click)="setAddNoteFavID(joinresult.favorite_id)" (click)="alternativeAddNote(joinresult.favorite_id)">Add Note!</button><br>   
        </ng-container>      
    </ng-container>

    <button (click)="showWsbInfoForStock(joinresult.ticker)">Get Latest WSB Info!</button><br>
    <ng-container *ngIf="temp_WSBInfoObjFilled && _ticker == joinresult.ticker">
        <div class="WallStreetBetsApiInfo">
            Ticker: {{temp_WSBInfoObj?.ticker}}<br>
            Sentiment: {{temp_WSBInfoObj?.sentiment}}<br>
            Sentiment Score: {{temp_WSBInfoObj?.sentiment_score}}<br>
            Number of Comments: {{temp_WSBInfoObj?.no_of_comments}}<br>
        </div>
        <ng-container *ngIf="_MarketStackObject && _MarketStackObject.data[0] && _MarketStackObject.data[0].symbol == joinresult.ticker">
        <div class="MarketStackApiInfo">
            Opening Price: ${{_MarketStackObject.data[0].open}}<br> 
            Intraday High Price: ${{_MarketStackObject.data[0].high}}<br>
            Intraday Low Price: ${{_MarketStackObject.data[0].low}}<br>
            Closing Price: ${{_MarketStackObject.data[0].close}}<br>
            Volume: {{_MarketStackObject.data[0].volume}}<br>
            Date: {{_MarketStackObject.data[0].date}}<br>
        </div>
    </ng-container>
    <button (click)="showMarketStackInfoForStock(joinresult.ticker)">Show Latest MarketStack Info!</button>
    </ng-container>

    <br>
    <br>
    <br>
</ng-container>
