.WallStreetBetsApiInfo{
    color: blue;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.MarketStackApiInfo{
    color: rgb(0, 122, 41);
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.AllOtherText{
    color: black;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}